<div class="row justify-content-center">
    <div class="col-12 col-lg-10 col-xl-8">

        <div class="header mt-md-5">
            <div class="header-body">
                <div class="row align-items-center">
                    <div class="col">
                        <h6 class="header-pretitle">
                            New project
                        </h6>
                        <h1 class="header-title">
                            Create a new project
                        </h1>
                    </div>
                </div> <!-- / .row -->
            </div>
        </div>
        <%= render "form", project: @project %>
    </div>
</div>


