<div class="col-12 col-md-5 col-lg-6 col-xl-4 px-lg-6 my-5 align-self-center">
    <h1 class="display-4 text-center mb-3">
        Create an account
    </h1>
    <p class="text-muted text-center mb-5">
        Free access to our dashboard.
    </p>

    <%= flash_messages layout_flash: true %>

    <%= render "form", account: @account %>

    <div class="text-center">
        <small class="text-muted text-center">
            Already have an account? <%= link_to "Log in", new_user_session_path %>.
       </small>
    </div>
</div>
<div class="col-12 col-md-7 col-lg-6 col-xl-8 d-none d-lg-block">
    <div class="bg-cover h-100 min-vh-100 mt-n1 me-n3 login_side"></div>
</div>